@import 'tailwindcss';
@import './styles/theme.css';
@import './styles/variables.css';
@import './index.css';
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
@config '../tailwind.config.js';